@model GetPokemonDetail_Result
@{
    //Model.TipoID2 = 2;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDetails</title>
</head>
<body>
    <div class="col-sm-2"></div>
    <div class="col-sm-8"> 
        <div class="row">
            <div class="col-sm-3">
                <img src="http://cdn.bulbagarden.net/upload/thumb/2/21/001Bulbasaur.png/250px-001Bulbasaur.png" />

            </div>
            
            <div class="col-sm-3"></div>
            <div class="col-sm-3">

                <h3># @Model.PokemonID</h3>
                <h3>Nombre: @Model.Nombre</h3>
                <h3>Peso: @Model.Peso kg</h3>
                <h3>Altura: @Model.Altura m</h3>
            </div>
            <div class="col-sm-3">

                <h3>Tipo1:<script>     function getType(id) {
         return "success"
     }</script></h3>
                @if (Model.TpID2 != null) { 
                    <h3>Tipo2: @Model.TpID2</h3>
                }
                else { 
                    <h3> </h3>
                }
                <h3>Generacion: @Model.Generacion</h3>
                <h3>Habilidad: @Model.HabID</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</body>
</html>

<script type="text/javascript">
    getType(@Model.TpID)

</script>
