@using Microsoft.AspNet.Identity
@using PokedexFinalProject
@*@model PokemonViewModel*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pokédex</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DataTables/css/jquery.dataTables.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.min.js")

    <style>
        
        li{
            color:white;
        }
    </style>
</head>
<body>
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });


    </script>
    @*<div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Database
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="@(SharedInstance.AppUser.Connection == false)"><a href="#">MS-SQL Server</a></li>
            <li class="@(SharedInstance.AppUser.Connection == true)"><a href="#">MySQL</a></li>
        </ul>
    </div>*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 @Html.ActionLink("Pokédex", "Index", "Overview", new { area = "" }, new { @class = "navbar-brand", style = "color: #ffffff" })
            </div>
            <div class="navbar-collapse collapse">
                @{
                    if(SharedInstance.AppUser != null) { 
                        if (SharedInstance.AppUser.logeoCorrecto == true)
                         {
                                <ul class="nav navbar-nav">
                                 <li>@Html.ActionLink("Home", "Index", "Overview")</li>
                                 <li>@Html.ActionLink("Pokémon", "GetPokemon", "Overview")</li>
                                 <li>@Html.ActionLink("Types", "GetTypes", "Overview")</li>
                                 <li>@Html.ActionLink("Moves", "GetMoves", "Overview")</li>
                                 <li>@Html.ActionLink("MS-SQL", "Index", "Overview", new { searchBar = "MS-SQL"}, null)</li>
                                 <li>@Html.ActionLink("MySQL", "Index", "Overview", new { searchBar = "MySQL" }, null)</li>
 
                                @{
                                    if (SharedInstance.AppUser.Admin == 1)
                                    {
                                        <li>@Html.ActionLink("STATS", "Index", "Stats")</li>
                                    }
                                    @Html.Partial("_LoginPartial")
                                }
                                </ul>
                        @(Html.BeginForm("GetDetails", "Overview", FormMethod.Get))
                                    {
                            <p>
                               @Html.TextBox("SearchString")
                                <input type="submit" value="Search"  id="BotonBarra"/>
                            </p>

                                            }
                                        }
                                    }
                                    else
                                    {
                         @Html.Partial("_LoginPartial")

                     }
               }

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="container-fluid text-center">
            <div class="col-sm-4">
                <p>Property of The Pokemon Company.</p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/The_Pok%C3%A9mon_Company_International_logo.svg/255px-The_Pok%C3%A9mon_Company_International_logo.svg.png">
            </div>
            <div class="col-sm-4">
                @*<li class="@(SharedInstance.AppUser.Connection == false)">@Html.ActionLink("MS-SQL", "Index", "Overview")</li>
                <li class="@(SharedInstance.AppUser.Connection == true)">@Html.ActionLink("MySQL", "Index", "Overview")</li>*@
            </div>
        </footer>
    </div>

 
    @RenderSection("scripts", required: false)
</body>
</html>
