@using Microsoft.AspNet.Identity
@*@using PokedexFinalProject.Models*@
@*@model PokemonViewModel*@
@{ 
//bool _login = true;
//int admon = 1;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pokédex</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        
        li{
            color:white;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 @Html.ActionLink("Pokédex", "Index", "Overview", new { area = "" }, new { @class = "navbar-brand", style = "color: #ffffff" })
            </div>
            <div class="navbar-collapse collapse">
                @{
                    if (SharedInstance.AppUser != null)
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Overview")</li>
                            <li>@Html.ActionLink("Pokémon", "GetPokemon", "Overview")</li>
                            <li>@Html.ActionLink("Types", "GetTypes", "Overview")</li>
                            <li>@Html.ActionLink("Moves", "GetMoves", "Overview")</li>
                           
                            @{
                                if (SharedInstance.AppUser.Admin == 1)
                                {
                                    <li>@Html.ActionLink("STATS", "Index", "Stats")</li>
                                }
                                
                                    @Html.Partial("_LoginPartial")
                                
                            }
                        
                           
                        </ul>
                        @(Html.BeginForm("GetDetails", "Overview", FormMethod.Get))
                        {
                            <p>
                                Find by id: @Html.TextBox("SearchString")
                                <input type="submit" value="Search" />
                            </p>
                        }


                        @*<div class="col-sm-3 col-md-3 pull-right">
                            <form class="navbar-form " role="search" style="width: 15em; margin: 0.3em 2em;">
                                <div class="form-group input-group">
                                    <input type="text" class="form-control" placeholder="Search.. " name="searchBar" id="searchBar">
                                    <span class="input-group-btn">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        </div>
                                        </span>
                                    </div>
                            </form>
                            </div>*@

                            }
                            else
                            {
                            @Html.Partial("_LoginPartial")
                            }

                            }


                        </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="container-fluid text-center">
            <div class="col-sm-4">
                <p>Property of The Pokemon Company.</p>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/The_Pok%C3%A9mon_Company_International_logo.svg/255px-The_Pok%C3%A9mon_Company_International_logo.svg.png">
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @RenderSection("scripts", required: false)
</body>
</html>
