@model PokedexFinalProject.Models.RegisterViewModel
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    $(function () { // will trigger when the document is ready
       $('.datepicker').datepicker(); //Initialise any date pickers
    });
    </script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 450px;
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        }
    </style>
    <title>Index</title>
</head>
<body>
    
    <div id="Register" >
       <center><h3>Register to have your own Pokédex!</h3></center> 
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-2">
                @using (Html.BeginForm())
                {
                    <p>Name:</p>
                    <p> @Html.TextBoxFor(x => x.Name)</p>
                    <p>Last Name:</p>
                    <p>@Html.TextBoxFor(x => x.LastName)</p>
                    <p>Date of Birth:</p>
                    <p>@Html.TextBoxFor(x => x.DoB, new { @class = "form-control datepicker", placeholder = "YYYY/MM/DD" })</p>
                    <p>Email:</p>
                    <p>@Html.TextBoxFor(x => x.Email)</p>             
                    <p>Username:</p>
                    <p>@Html.TextBoxFor(x => x.Username)</p>
                    <p>Password:</p>
                    <p> @Html.PasswordFor(x => x.LastName)</p>
                    

                    <input type="submit" value="Register" />
                }
            </div>
          
            <div class="col-sm-2">
                <img src="https://67.media.tumblr.com/e2735dc59deb4d6d56db3de6803706ab/tumblr_o7lkmwg8Gt1qf06deo1_540.png" />
            </div>
        </div>
    </div> 
   
        
    
</body>
</html>

@*@section scripts {
    <script type="text/javascript">
  $(function () {
    $('#AnnualMeetingDate').datetimepicker({
      defaultDate: '2016/05/22',
      format: 'L',
      showClose: true,
      showClear: true,
      toolbarPlacement: 'top'
    });
    $('#AnnualMeetingStartTime').datetimepicker({
      defaultDate: '2016/05/22',
      format: 'LT',
      showClose: true,
      showClear: true,
      toolbarPlacement: 'top',
      stepping: 15
    });
  });
    </script>
}*@